/* .links, .links:visited, .links:hover{
}

a {
    color: white;
}

a:visited{
    color: white;
} */

.my-footer{

}

.links {
  display: flex;
  justify-content: flex-end;

}

.links p {
  margin-left: 1rem;
  cursor: pointer;
}

.footer {
  border-top: 0.05rem solid grey;
  height: fit-content;
  display: flex;
  justify-content: space-between;

}

.footer p {
  margin-top: 0.5rem;
}

.footer-image-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
 
}

.footer-image-container h2{
    color: white;
}