* {
  box-sizing: border-box;
}

h1 {
  overflow-y: hidden;
}

h3 {
  overflow: hidden;
  position: relative;
  left: 3rem;
}

.container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  column-gap: 3rem;
  row-gap: 5rem;
  cursor: pointer;
  box-sizing: border-box;
}

.card-item {
  transition: transform 1s;
}

.card-item:hover {
  transform: translateY(-10px);
}

.news-meta-container {
  width: 100%;
  margin-left: 10%;
  text-align: left;
}
